<h1 mat-dialog-title class="text-center">All Likes</h1>
<hr>
<div mat-dialog-content>
    <div class="like">
        <img src="../../../assets/img/th (2).jfif" class="img-fluid rounded-circle" style="width: 30px;height: 30px;" alt="">
        &nbsp;<span class="card-title m-0">Username</span><hr>
        <img src="../../../assets/img/th (2).jfif" class="img-fluid rounded-circle" style="width: 30px;height: 30px;" alt="">
        &nbsp;<span class="card-title m-0">Username</span><hr>
        <img src="../../../assets/img/th (2).jfif" class="img-fluid rounded-circle" style="width: 30px;height: 30px;" alt="">
        &nbsp;<span class="card-title m-0">Username</span><hr>
        <img src="../../../assets/img/th (2).jfif" class="img-fluid rounded-circle" style="width: 30px;height: 30px;" alt="">
        &nbsp;<span class="card-title m-0">Username</span><hr>
        <img src="../../../assets/img/th (2).jfif" class="img-fluid rounded-circle" style="width: 30px;height: 30px;" alt="">
        &nbsp;<span class="card-title m-0">Username</span>
    </div>
</div>