<div>
    <div class="mb-1 sideDiv">
        <a [routerLink]='["/profile"]' class="text-decoration-none text-dark d-flex align-items-center">
            <mat-icon color="primary" class="m-2">person</mat-icon>&nbsp;<span>{{username}}</span>
        </a>
    </div>
    <div class="mb-1 sideDiv">
        <a [routerLink]='["/friend-request"]' class="text-decoration-none text-dark d-flex align-items-center">
            <mat-icon color="primary" class="m-2">people</mat-icon>&nbsp;<span>FriendRequest</span>
        </a>
    </div>
    <div class="mb-1 sideDiv">
        <a [routerLink]='["/search-user"]' class="text-decoration-none text-dark d-flex align-items-center">
            <mat-icon color="primary" class="m-2">search</mat-icon>&nbsp;<span>Find Friends</span>
        </a>
    </div>
</div>
