
<div class="parentDiv">
    <div class="addPost">
        <div class="addPost__top">
            <mat-icon>person_pin</mat-icon>
            <form>
                <input
                    class="addPost__input"
                    placeholder="What is on your mind?"
                    (click)="openAddPostDialog()"
                />
            </form>
    
        </div>
    
        <div class="addPost__bottom">
            <div class="addPost__option d-flex align-items-center">
                <mat-icon class="photoAddIcon">add_to_photos</mat-icon>
                <h3 (click)="openAddPostDialog()">Photo/Video</h3>
            </div>
        </div>
        
    </div>
</div>