<div mat-dialog-title style="text-align: center;">
    <span style="font-size: 20px; color: blue;">Forgot Password</span>
</div>
<hr>

<mat-dialog-content>
    <form [formGroup]="forgetPasswordForm" (ngSubmit)="onForgetPassword()">
        <div class="form-group">
            <input type="text" class="form-control" formControlName="username" id="username" placeholder="Enter your User Name" />
         </div><br>
         <div class="form-group">
            <input type="text" class="form-control" formControlName="email" id="email" placeholder="Enter your Email Id" />
         </div><br>
         <div class="form-group">
            <input type="password" class="form-control" formControlName="password" id="password" placeholder="Password" />
         </div><br>
         <div class="form-group">
            <input type="password" class="form-control" formControlName="cnfpassword" id="cnfpassword" placeholder="Confirm Password" />
         </div><br>
         <button type="submit" class="btn btn-primary form-control">Reset Password</button>
    </form>
</mat-dialog-content>
<div class="text-center">
    <div class="snackbar" [class.show]="isVisible">{{errorMessage}}</div>
</div>